form(action="/signup", method="post")
  label| username
  input(name="username",type="text")
  br
  label| password
  input(name="password",type="password")
  br
  label| password again
  input(name="repassword",type="password")
  br
  button| signup
